.component {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: white;
    border-radius: 8px;
    /*padding: 10px;*/
}

.container {
    width: 100%;
    height: calc(100% - 100px);
    outline: 1px dashed black;
    padding: 10px;
}